.container {
  margin-left: 0px;
}

.sidenav {
  background-color: #3F51B5;
  width: 300px;
  height: 100%;
}

.sidenav a {
  color: #FFF;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background: #FFF;
}
