<p>Empresa</p>
<p>Algumas palavras sobre nós</p>
<p>Presente no mercado desde 1982 a Valicar Auto Vidros estava localizada inicialmente somente em Valinhos mas pela constante procura de mercado em 2004 inaugurou a segunda loja em Vinhedo. Referência no mercado automotivo nas trocas de vidros, borrachas, retrovisores, palhetas e tapetes, além de troca e manutenção de máquinas de vidro, fechaduras, travas elétricas, maçanetas e reparos de parabrisas. A empresa busca constantemente atualização para otimização de seus serviços e atendimento contando com uma equipe qualificada para a avaliação das necessidades reais de seus clientes, visando sua econômia e satisfação.</p>
<ul>
  <li><p>Missão - Buscar a melhor solução para garantir a satisfação do cliente</p></li>
  <li><p>Habilidades - Entregar serviços rápidos e excelentes</p></li>
  <li><p>Clientes - clientes satisfeitos graças a nossa experiência</p></li>
</ul>
